<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
     <head>
        <title>Roman Numeral Number Converter</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta content='width=device-width, initial-scale=1' name='viewport'/>

        <script type="text/javascript" th:src="@{/jquery-3.2.1.min.js}"></script>
        <script type="text/javascript" th:src="@{/client.js}"></script>
    </head>
    <body>
        <p>
            <label for="romannumeral">Input roman numeral</label>
            <input id="romannumeral" placeholder="insert roman numeral" size = "55"/>
            <output for="romannumeral" id="romannumeral_error"></output>
        </p>

        <p>
            <label for="decimal">Input decimal number</label>
            <input id="decimal" placeholder="insert integer" size = "54"/>
            <output for="decimal" id="decimal_error"></output>
        </p>

        <p>
            <input onclick="client.convertRomanToDecimal()" value="Convert roman numeral to decimal number" type="button"/>
        </p>
        <p>
            <input onclick="client.convertDecimalToRoman()" value="Convert decimal number to roman numeral" type="button"/>
        </p>
    </body>
</html>